<div class="container">
  <div class="header">
    <h1>HN Feed</h1>
    <h3>We <3 hacker news!</h3>
  </div>

  <table
    style="width: 100%">
    <tr *ngFor="let hackerNew of hackerNewsArray"
        (click)="onSelectedRow(hackerNew)">
      <td>
        <div class="post">
          <div class="title">
            {{
              hackerNew.story_title ? hackerNew.story_title :  hackerNew.title
            }}.
          </div>

          <div class="author">
            - {{hackerNew.author}} -
          </div>
        </div>

        <div class="date">
          {{hackerNew.created_at | postDate}}
        </div>

        <div>
          <i class="fa fa-trash" (click)="deletePost(hackerNew)"></i>
        </div>
      </td>
    </tr>
  </table>
</div>
