* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.container {
  font-family: Arial, sans-serif;
}

.header {
  background: #0e4c92;
  width: 100%;
  height: 200px;
  position: sticky;
  top: 0;
}

h1 {
  color: #ffffff;
  font-size: 52pt;
  padding-left: 2rem;
  padding-top: 3rem;
}

h3 {
  color: #ffffff;
  font-size: 13pt;
  top: 25px;
  padding-left: 2rem;
}

tr:hover {
   background-color: #fafafa;
   cursor: pointer;
}

tr:hover > td > div > i {
  display: block;
}

tr {
  background-color: #fff;
}

td {
  display: flex;
  flex: 1;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100%;
  border-bottom: 1px solid #ccc;
}

td > .post {
  display: flex;
  flex: 7
}

td > .date {
  flex: 3
}

td > div > i {
  flex: 2
}

.title .date {
  color: #333;
  font-size: 13pt;
}

.post {
  display: inline;
}

.author {
  color: #999;
}

i {
  color: #D30000;
  display: none;
}
